.node {
  stroke: #fff; 
  stroke-width: 1.5px;
}
    
.link {
  stroke: #999; 
  stroke-opacity: .6;
}

#App {
  border: 1px solid #000000;
  text-align: center;
  width: 1000px;
  height: 1050px;
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  text-align: center;
}

